html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.list-group {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.list-group-item {
  background: #f7f7f7;
  padding: 1em;
  text-align: center;
}
.card-img-top {
  height: 10vw;
  object-fit: cover;
}

.main-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.main-title {
  text-align: center;
  padding-bottom: 25px;
}

.main-login-form {
  border: darkblue solid 2px;
  background-color: skyblue;
}

.login-button-list {
  display: block;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.login-button-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-list button {
  padding: "5px 47px";
}
.add-cart-buttom {
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}
